.dragBox {
  height: 30px !important;
  width: 100%;
  margin-bottom: 6px;
  box-shadow: 0 !important;
  padding-left: 10px;
  justify-content: space-between;
  background: #e6f0fb !important;
  line-height: 30px;
  // box-sizing: border-box;
  border: 1px solid #aed4fb !important;
  border-radius: 2px;
  color: #007eff;
  font-weight: 500;

  > img {
    max-width: 8px;
    margin-right: 10px;
    margin-top: -1px;
  }

  > span:last-child {
    background: #aed4fb;
  }
}
