.fileIconContainer {
  font-size: 20px;
  color: #bdbfc2;
}

.image {
  color: #8aa066;
}

.pdf {
  color: #e26d6d;
}

.video {
  color: #77c69e;
}

.zip {
  color: #715a31;
}

.code {
  color: #515a6d;
}
