.subBordered {
  margin-bottom: 18px;
  border-bottom: 1px solid #f7f8f8;
}

.subWrapper {
  position: relative;
  line-height: 18px;
  text-decoration: none;

  > span {
    text-decoration: none;
    font-family: Lato-Bold;
    font-size: 20px;
    color: #333740;
    letter-spacing: 0;
    transition: color 0.2s ease;
  }

  p {
    text-decoration: none;
    display: block;
    max-width: calc(100% - 150px);
    margin-top: 18px;
    color: #333740;
    font-size: 14px;
    transition: color 0.2s ease;
  }
}

.underlinedTitle {
  border-bottom: 3px solid #f0b41e;
}

.link {
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }

  &:hover {
    > span,
    p {
      color: lighten(#333740, 20%);
    }
  }
}
