.supportUsCta {
  padding: 7px 12px 7px 20px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 800;
  letter-spacing: 0.5px;
  &:after {
    content: '\f178';
    font-family: 'FontAwesome';
    margin-left: 10px;
  }
  &:hover {
    color: #ffffff;
    text-decoration: none;
  }
}
